<div fxLayout="column" fxLayoutAlign=" stretch" >
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span class="flex-small"></span>
      <h1 class="hand pointer" [routerLink]="'/'"><span>&#10084;</span> YOUR CHART</h1>
      <span class="menu-spacer"></span>
      <div class="top-menu">
        <a mat-button [routerLink]="'/home'"> HOME </a>
        <a mat-button [routerLink]="'/testimonials'"> TESTIMONIALS </a>
        <!-- <a mat-button [routerLink]="'/contact'"> CONTACT </a> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/home'"> HOME </a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="'/testimonials'"> TESTIMONIALS </a>
        <mat-divider></mat-divider>
        <!-- <a mat-list-item [routerLink]="'/contact'"> CONTACT </a>
        <mat-divider></mat-divider> -->
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>CLOSE</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>

        <router-outlet></router-outlet>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span class="menu-spacer"></span>
            <span class="mat-small">Copyright &copy; {{year}} Your Name All Rights Reserved</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>