<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="hero">
      <div class="title" fxLayout="row" fxLayoutAlign="center center">
        <h1>Testimonials</h1>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="info">
        <div class="meet">
          <h2>What Do People Have To Say?</h2>
          <div>
            <mat-card>
                <mat-card-title-group>
                <mat-card-title>Traci Woods</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    <p>I have known Diane for almost 15 years, as a friend, a client, and an astrologer. Her passion for listening and helping guide others is what makes her stand out above the rest.</p>
                    <p>It can be intimidating to be so vulnerable with someone about the intimate details of your life, but Diane has a way of making you feel like you've known her, your whole life. She is very easy to talk to and will immediately put you at ease.</p>
                    <p>Diane's readings are very detail oriented and <b>SPOT ON</b> every time. You can tell she puts in a lot of time and preparation to each individual's chart beforehand. She is sensitive in her delivery, and only speaks from a place of love in order to give you clarity and understanding.</p>
                    <p>There are so many major life events that Diane has predicted and helped me through, and I am forever grateful for her intuition and insight!</p>
                </mat-card-content>
            </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-title-group>
                    <mat-card-title>Susanna</mat-card-title>
                    </mat-card-title-group>
                    <mat-card-content>
                        <p>I have had the pleasure of studying astrology with Diane for the last few years. She is the kind of teacher that makes astrology fun and easy to apply in real life. She is very passionate about astrology and a patient teacher. She is engaging, intuitive, and very skilled in astrological analysis.</p>
                        <p>I look forward  to my sessions with her and will be forever grateful for everything she has taught me. I highly recommend her for teaching, intuitive guidance, and any kind of astrology reading!</p>
                    </mat-card-content>
                </mat-card>
                </div>
        </div>
      </div>
  </div>