<div fxLayout="column" fxLayoutAlign="start stretch">
  <div class="hero">
    <div class="title" fxLayout="row" fxLayoutAlign="center center">
      <h1>The Mystic Astrologer</h1>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="info">
    <div class="meet">
      <h2>Meet Diane</h2>
      <p class="mat-h3">
        I believe you can gain self-understanding, as well as a better understanding of others, using astrology.
      </p>
      <p class="mat-h3">
        I would like to help you on your journey to self-acceptance and understanding.
      </p>
      <p class="mat-h3">
        I want you to love yourself and love your charts!
      </p>
    </div>
    <div class="diane">
      <img src="assets/headshot_o-min.jpg" class="mat-elevation-z8" alt="Diane Goetz" />
    </div>
  </div>
</div>